@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--el-bg-color-page);
}

#nprogress .bar {
  background-color: #f4f4f4 !important;
  height: 3px !important;
}

#nprogress .spinner {
  top: auto !important;
  bottom: 15px !important;
}

#nprogress .spinner-icon {
  width: 32px !important;
  height: 32px !important;
}

:focus-visible {
  outline: none;
}
